<% if @card_packs.present? %>
  <div class="mx-auto md:w-2/3 w-full flex bg-base-100">
    <div class="overflow-x-auto w-full text-center">
      <table class="table w-full">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Coins</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @card_packs.each do |card_pack| %>
            <tr>
              <td><%= card_pack.name %></td>
              <td><%= card_pack.description %></td>
              <td><%= card_pack.coins %></td>
              <th>
                <%= button_to "Buy",
                  "#",
                  class: "btn btn-primary w-full"
                %>
              </th>
            </tr>
          <% end %>
        </tbody>    
      </table>
    </div>
  </div>
<% else %>
  <p>The store is out of stock.</p>
<% end %>
