<div class="hero h-auto p-20 bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Pokemania</h1>
      <p class="py-6">Collect or generate cards and build your own Pokedex.</p>
      <%= link_to "Show Pokedex", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>
