<div class="navbar bg-base-100 justify-end">
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "Pack simulator", "#" %></li>
      <li><%= link_to "Card generator", "#" %></li>
      <li><%= link_to "Pokédex", "#" %></li>
    </ul>
  </div>
</div>